{% extends 'base.html' %}

{% block titulo %} Purchase {% endblock %}

{% block contenido %}

    <h1 class="titulo-seccion">COMPRA DE CRIPTOS</h1>

    <form action="/purchase" method = "post" >
       {{ formulario.hidden_tag() }} 
        <div class="monedas">
            {{formulario.moneda_from.label()}}
            {{formulario.moneda_from()}}
            {% if formulario.moneda_from.errors %}
                {%for error in formulario.moneda_from.errors %}
                    <p class="error">{{error}}</p>
                {% endfor%}

            {% endif%}
        
            {{formulario.moneda_to.label()}}
            {{formulario.moneda_to()}}
            {% if formulario.moneda_to.errors %}
                {%for error in formulario.moneda_to.errors %}
                    <p class="error">{{error}}</p>
                {% endfor%}

            {% endif%}
        </div>
        <div class="cantidad-from">
            {{formulario.cantidad_from.label()}}
            {{formulario.cantidad_from()}}
            {% if formulario.cantidad_from.errors %}
                {%for error in formulario.cantidad_from.errors %}
                    <p class="error">{{error}}</p>
                {% endfor%}

            {% endif%}
        </div>
        <div class="calcular">

            
            {{formulario.calcular()}}
            
           
               <p class="cantidad-to"> 
                {% if cantidad_to %}
                   {{cantidad_to}}
                   {% endif %}
                </p>
           
           
        </div>
        
        <div class="botones">
          
                {{formulario.aceptar()}}
           
                <a class= "cancelar" href="/" role="button"></a>
                
            
        </div>
    </form>

    
{% endblock %}