{% extends 'base.html' %}

{% block titulo %} Compra {% endblock %}

{% block contenido %}

    <h1>COMPRA DE CRIPTOS</h1>

    <form action="/compra" method = "post" class="form">
        <div class="grid">
            {{formulario.moneda_from.label()}}
            {{formulario.moneda_from()}}
            {% if formulario.moneda_from.errors %}
                {%for error in formulario.moneda_from.errors %}
                    <p class="error">{{error}}</p>
                {% endfor%}

            {% endif%}
        </div>
        <div class="grid">
            {{formulario.moneda_to.label()}}
            {{formulario.moneda_to()}}
            {% if formulario.moneda_to.errors %}
                {%for error in formulario.moneda_to.errors %}
                    <p class="error">{{error}}</p>
                {% endfor%}

            {% endif%}
        </div>
        <div class="grid">
            {{formulario.cantidad_from.label()}}
            {{formulario.cantidad_from()}}
            {% if formulario.cantidad_from.errors %}
                {%for error in formulario.cantidad_from.errors %}
                    <p class="error">{{error}}</p>
                {% endfor%}

            {% endif%}
        </div>
        <div class="grid">
            {{formulario.calcular()}}
        </div>
        <div class="grid">
            {{total}}
        </div>
        <div class="grid">
            {{formulario.aceptar()}}
        </div>
        <div class="grid">
            {{formulario.aceptar()}}
        </div>

    </form>

    <section>
        //Aqui ira la cantidad en la moneda to y P.U
    </section>
{% endblock %}