{% extends 'base.html' %}

{% block titulo %} Status {% endblock %}

{% block contenido %}

    <h1 class="titulo-seccion">ESTADO DE LA INVERSIÓN</h1>
    
    {% if contenido%}
        <div class="status-container">
            <ul class="status-list">
                <li class="status-item">Invertido:</li>
                <li class="status-item">{{invertido}}</li>
            </ul>
        </div>
        <div class="status-container">
            <ul class="status-list">
                <li class="status-item">Valor actual:</li>
                <li class="status-item">{{valor}}</li>
            </ul>
        </div>


    {% else %}

        <h2>No hay datos</h2>
    
    {%endif%}



{% endblock %}