label{
    color:var(--title-color)
}

.monedas{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.monedas label{
    padding: 1rem 1rem;
    padding-right: 0;
    font-size: larger;
}

.monedas select{
    color: var(--title-color);
    background-color: var(--third-color);
    border:none;
    padding: 1rem;
    margin: 0;
    border: 0;
    height:fit-content;
    max-width: 150px;


}

.cantidad-from{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cantidad-from label{
    padding: 1rem 2rem;
}
.cantidad-from input{
    max-width: fit-content;
    margin: 0;
    background-color: var(--title-color);
    color: var(--second-color);
    border: none;
}

.calcular{
    display: flex;
    flex-direction: row;
    justify-content:left ;

}

.calculadora{
    padding: 0 2rem;
    margin: 0 3rem;
    border: none;
    height: 150px;
    width: 150px;
    max-height: fit-content;
    background: url('../images/calc.png') center no-repeat;
    background-size: contain;
}

 #calcular{
    padding: 0 2rem;
    margin: 0 3rem;
    border: none;
    height: 150px;
    width: 150px;
    max-height: fit-content;
    background: url('../images/calc.png')   center no-repeat;
    background-size: contain;
    color:rgba(0, 0,0,0)
}
.cantidad-to{
    margin: 50px;
    border: solid 3px;
    border-color: var(--logo-color);
    color: var(--title-color);
    padding: 0.5rem 0.5rem;
    width: fit-content;
    height: fit-content;
    font-size:50px;
}

.botones{
    display: flex;
    flex-direction: row;
    margin:4rem;
    justify-content:right;
}
#aceptar, .cancelar{
    width: 25%;
    margin: 0;
    border: none;
    height: 150px;
    
}
#aceptar{
    background: url('../images/checkmark.png') center no-repeat;
    background-size: contain;
    
    color:rgba(0, 0,0,0)
}

.cancelar{
    background: url('../images/abort-g7cd81d793_640.png') center no-repeat;
    background-size:contain;

    shape-image-threshold: inherit;

}

