.status-container{
    background-color: var(--third-color);
    box-shadow: 5px 5px black;
    
}

.status-list{
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    border: solid 2px;
    background-color: var(--third-color);
    background: url('../images/euro.png') right bottom no-repeat;
    background-size: 100px;
    
}
.tabla{
    display: flex;
    justify-content:right;
    margin-left: 50vh;
    color: black;

}
.table-criptos  td{
    background-color: var(--white-color);
    color: black;
   
}
.cabecera-tabla{
    border-bottom: solid 2px black;
}

.cabecera-criptos th{
    color: var(--white-color);
    border-bottom: solid 2px black;

}
.status-item{
    list-style-type: none;
    color: var(--second-color);
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    text-shadow: black 1px 1px;
    
}
h2{
    margin: 0;
    padding: 0;
    color: var(--second-color);
    background-color: var(--title-color);
    text-decoration: none;
    list-style-type: none;
    border: solid 2px;
    border-color: red;
    text-align: right;
    background: url('../images/warning.png') left no-repeat;
    background-size: 40px;
    padding-left: 60px;
}

