.table.movimientos{
    height: 40vh;
    overflow-y: auto;
    display: block;
}

.actions{
    display: flex;
    justify-content: space-between;

}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_buttons{
    display: flex;
    justify-content: space-around;
    align-self: flex-end;

}
.botones{
    display: flex;
    flex-direction: row;
    justify-content:end
    
}
.botones .button{
    padding: 0;
    margin-left: 5px;
    width: 95.84;
   
}

.calc{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}