@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500&display=swap');
:root{
    --bg-color: #313149;
    --logo-color: #c17c74ff;
    --title-color: #d4f5f5ff;
    --second-color: #00241bff;
    --third-color: #4e878cff;

    --white-color: #F7F9F7;

}

body{
    display: block;
    
    background-color: var(--bg-color);
    
    background-size: cover;
    color: var(--title-color);
    font-family: 'Chakra Petch', Arial, Helvetica,sans-serif;
    
}
.navbar-container{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
    
    
    width: 100vh;

}
.navbar-item a,p{
    
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: 500;
    float:right;
    padding: 2px 1rem;
    background-color:var(--second-color);
    text-shadow: var(--third-color) 2px 2px;
}

.item-desactivado{
    color: var(--bg-color)
}
.logo{
    font-size: 2rem;
    padding:2rem 0 2rem 1.5rem;
    text-shadow: black 2px 2px;
    
}
.logo span{
    color: var(--logo-color)
}
.titulo-seccion{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    text-shadow: black 2px 2px;
}

.error_msg{
    margin: 0;
    padding: 5px 60px;
    color: var(--second-color);
    background-color: var(--title-color);
    text-decoration: none;
    list-style-type: none;
    border: solid 2px;
    border-color: red;
    text-align: right;
    background: url('../images/warning.png') left no-repeat;
    background-size: 40px;
}
.error-container{
    background-color: var(--title-color);
    width: fit-content;
    margin-left: 4rem;
   
    
}
.error-list{
    margin: 0 ;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    background-color: var(--title-color);
    text-decoration: none;
    list-style-type: none;
    border: solid 2px;
    border-color: red;
}

.mi-footer{
    padding: 5rem 0 0 0;
    color: var(--title-color);
    text-align:left ;
    text-shadow: black 2px 2px;
    margin-top: 3rem;
    bottom: 2rem;
   
}
footer span{
    color: var(--logo-color);
}

footer >.container{
    margin: 0;
    padding-left: 2rem;
    padding-bottom: 0;
}