.table.movimientos{
    height: 40vh;
    overflow-y: auto;
    display: block;
}

.actions{
    display: flex;
    justify-content: space-between;

}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button{
    align-self: flex-end;
}
